
@{
    ViewBag.Title = "Extrnal";
    Layout = null;
}

<link href="@Url.Content("~/Content/LoginStyle.css")" rel="stylesheet" type="text/css" />

<div class="login-wrap">
    <form action="/Register/Extrnal" method="post" class="form">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                Email :  <input type="text" name="Email" placeholder="Username" data-toggle="tooltip" data-placement="bottom" title="Enter A Valid Email (ex :- as@ds.gmail.com)" />

            </div>
        </div>

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <input type="submit" value="Login" class="btn btn-default" id="ak_log" />

            </div>
        </div>

    </form>
</div>
