@{
    ViewBag.Title = "Home Page";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/Reg.js")"></script>
}
 

<div>
    <p id="Ak_para">AAAAA</p>
    <input type="button" id="we1"/>
</div>
