@model IEnumerable<SEP.Models.Student>
@{
    ViewBag.Title = "Index";
}


<link href="@Url.Content("~/Content/Stu_module.css")" rel="stylesheet" type="text/css" />
<body onload="p();">

    <div class="container">
        <h2>   Student List</h2>
        <div class="row">


            <!--First column-->
            <div class="col-sm-3">

                <!--div for opeartions related to search students function-->
                <div id="serachBar">

                    <!--Simple form to get the search term from user and submit-->
                    @using (Ajax.BeginForm(
                    new AjaxOptions
                    {
                        HttpMethod = "get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "sortedList"
                    }))
                    {
                        <input type="search" name="searchTerm" id="txtsearch" />
                        <button type="submit" id="btnsearch" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>

                        <h4>Search By Name</h4>
                    }
                    <br />

                    <!--Div refresh along each search call-->
                    <div id="sortedList">

                        <ul class="list-group" id="ev1">
                            @foreach (var item in Model)
                            {
                                <li class="list-group-item "> <a id="linkOnList">@item.Name</a></li>
                            }
                        </ul>

                    </div>
                </div>

            </div>


            <!--Second column-->
            <div class="col-sm-6">

                <div class="row" id="proName">
                    Student Details
                </div>

                <!--div to hold the profile picture of the students-->
                <div class="row" id="imgBox">
                    <img id="innerImg" />
                </div>

                <br /><br />

                <!--Hidden lables to hold values-->
                <label id="lReg"></label>
                <label id="sessionModule" style="display:none;">SEP</label>


                <!--table to display the summary of each selected student-->
                <table class="table table-striped" id="detailsTbl">
                    <tr>
                        <td>Name</td>
                        <td id="tname"></td>
                    </tr>
                    <tr>
                        <td>GPA</td>
                        <td id="tgpa"></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td id="tphone"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td id="temail"></td>
                    </tr>

                </table>

                <!--Chart to display the technology proficiencies of selected student-->
                <div id="chartView">
                    @*<img src="@Url.Action("DrawChart")" alt="Drawing chart with HTML Helper" />*@
                </div>

            </div>



            <!--Third column-->
            <div class="col-sm-3">
                <!--Button to create a new group by loged in user-->
                <input type="button" id="btnCreate" value="Create my Group" /><br />

                <br /><br /><br /><br />

                <!--First sub colunm-->

                <!--div to add members to the created group-->
                <div class="col-sm-2" id="addGrp">
                    Add to Group<br />
                    <img src="~/Content/Images2/add.png" />
                </div>

                <!--Label -->
                <label id="myReg" style="display: none;">@Session["id"]</label>

                <br /><br /><br /><br /><br /><br /><br /><br />

                <!--Table to hold the details of the group-->
                <table id="Grptable" class="table table-condensed">
                    <tr>
                        <th>Avatar</th>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>


                </table>

            </div>
        </div>
    </div>
</body>


<!--Javascript fuction to load the group information table upon page loading-->

<script type="text/javascript">


    function p() {
        console.log("Aisass");

        $.ajax({

            url: "/Students_module/FillTableOnLoad",
            data: "",
            type: "POST",
            dataType: "json",
            success: function (data) {
                var currentStatus = "";
                var itemCount = data.avatarSet.length;
               
                for (var i = 0; i < itemCount; i++) {
                    
                    if (data.statusSet[i] == 2) {
                        currentStatus = "Leader";
                    }
                    else if (data.statusSet[i] == 1) {
                        currentStatus = "Accepted";
                    }
                    else {
                        currentStatus = "Pending";
                    }

                    ///Enter the output obtain from above fuction to the group information table
                    $("<tr><td><img  id='imgIcon' src='" + data.avatarSet[i] + "'/></td><td>" + data.nameSet[i] + "</td><td>" + currentStatus + "</td></tr>").appendTo("#Grptable");
                }
            },
            error: function () {
                alert("Failed to update in to notification table");
            }
        });
    }
</script>

