
@{
    ViewBag.Title = "Error";
}

<h2 style="color:red">You Have Already Added the lecture for this supervisor.Please add a new Lecture</h2>

<a href="~/AllocatedLecturers/Create" class="btn btn-info btn-sm">
    <span class="glyphicon glyphicon-arrow-left"></span> Add a New Lecturer
</a>
